[submodule "solbond/deps/marinade-onchain-helper"]
	path = solbond/deps/marinade-onchain-helper
	url = git@github.com:chainbonds/marinade-onchain-helper.git
[submodule "solbond/deps/liquid-staking-program"]
	path = solbond/deps/liquid-staking-program
	url = git@github.com:chainbonds/liquid-staking-program.git
[submodule "solbond/deps/larix-lending-anchor"]
	path = solbond/deps/larix-lending-anchor
	url = git@github.com:ProjectLarix/larix-lending-anchor.git
[submodule "qpools-sdk/deps/larix-sdk"]
	path = qpools-sdk/deps/larix-sdk
	url = git@github.com:ProjectLarix/larix-sdk.git
[submodule "qpools-sdk/larix-sdk"]
	path = qpools-sdk/larix-sdk
	url = git@github.com:ProjectLarix/larix-sdk.git
