[submodule "solbond/deps/marinade-onchain-helper"]
	path = solbond/deps/marinade-onchain-helper
	url = https://github.com/chainbonds/marinade-onchain-helper
[submodule "solbond/deps/liquid-staking-program"]
	path = solbond/deps/liquid-staking-program
	url = git@github.com:chainbonds/liquid-staking-program.git
